body {
            min-height: 100vh;
            background-color: #f8f9fa;
            display: flex;
            flex-direction: column;

        }

        .sidebar {
            height: 100vh;
            background-color: #343a40;
            padding-top: 1rem;
        }

        .sidebar a {
            color: white;
            display: block;
            padding: 10px;
            text-decoration: none;
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        main>.content {
            flex: 1;
        }

        .sidebar a:hover {
            background-color: #495057;
        }

        @media (max-width: 767.98px) {
            .sidebar {
                display: none;
            }
        }
